*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


.App{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.squares-wrapper{
  width: 400px;
  height: 400px;

  background-color: rgb(63, 44, 33);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;

  border: 8px solid rgb(63, 44, 33);
}


.squares-wrapper > div{
  transition: 0.3s;
}

/* .squares-wrapper > div:nth-of-type(6){
  color: blue!important;
  transform: translateY(calc(-100% - 8px));
} */


button{
  padding: 5px 10px;
  background-color: rgb(63, 44, 33);
  color: white;
  cursor: pointer;
}


@keyframes bump {
  0%{
      transform: scale(1.1);
  }
  100%{
      transform: scale(1);
  }
}